.container {
    display: flex;
    max-width: 1240px;
    padding-top: 20px;
    flex-direction: column;
    align-content: space-evenly;
    margin: auto;
  }
  
  .collapse-container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 20px;
    align-content: space-evenly;
    margin: auto;
    width: 100%;
    gap: 20px;
  }
  

  