main {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .collapse-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;


  }
}
