.section-cards {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f6f6f6;
  border-radius: 25px;
  padding-bottom: 100px;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 50px;
    gap: 125px;

    a {
        text-decoration: none; 
        color: inherit; 
      }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 150%;
      padding: 20px;
      border-radius: 10px;

      .img-card {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      .title-card {
        display: flex;
        padding-left: 20px;
        font-family: montserrat;
        margin-top: -130px;
        color: white;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
}
