.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;

    .card {
        width: 30%;
        border-radius: 10px;
        height: 350px;
       
       
        .img-card{
            object-fit:cover;
            width: 100%;
            height: 350px;
            border-radius: 10px;

        }




        .title-card {
            display: flex;
            white-space: wrap;
            flex-wrap: wrap;
            padding: 20px;
            margin-right: 120px;
            margin-top: -120px;
            z-index: 2;
            font-family: montserrat;
            color:white;
            font-size: 18px;
            font-weight: 900;

        }


    }





}