.collapse-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;

  .collapse {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      background: var(--Red, #ff6060);


      h3 {
        font-family: Montserrat;
        color: white;
        margin: 0;
        padding: 12px;
        text-align: center;
      }

      .fa-solid {
        color: #ffffff;
        font-size: 20px;
        padding: 15px;
      }
    }

    .collapse-content {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;
      background: var(--Gray, rgba(246, 246, 246, 0.914));
      font-family: Montserrat;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 5px;

        li {
          margin-bottom: 5px;
        }

        p {
          white-space:normal;

        }
      }
    }
  }
}
/****** Media queries ***********/
/* Medium devices (tablets, more than 767.98px) */
@media (max-width: 767.98px) {

  .collapse-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
  
    .collapse {
       
      .collapse-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 95%;
      
      }




    }
  }





}