.collapse-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;

  .collapse {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--Red, #ff6060);
    width: 100%;

    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      h3 {
        font-family: Montserrat;
        color: white;
        margin: 0;
        padding: 12px;
        text-align: center;
      }

      .fa-solid {
        color: #ffffff;
        font-size: 20px;
        padding: 15px;
      }
    }

    .collapse-content {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;
      background: var(--Gray, rgba(246, 246, 246, 0.914));
      font-family: Montserrat;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 5px;

        li {
          margin-bottom: 5px;
        }

        p {
          white-space:normal;

        }
      }
    }
  }
}
