.erreur-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 80px;

  .titre-erreur {
    color: #ff6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: -20px;
    margin-top: -20px;
  }

  .info-erreur {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
  }

  .lien-erreur {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
  }
}

/****** Media queries ***********/
/* Medium devices (tablets, more than 767.98px) */
@media (max-width: 767.98px) {
  main {
    .erreur-content {
      justify-content: center;
      margin: 0;
      padding: 0;
      gap: 40px;

      .titre-erreur {
        font-size: 100px;
        margin-bottom: -20px;
        margin-top: -20px;
      }
    
      .info-erreur {
        text-align: center;
        font-size: 18px;

      }
    
      .lien-erreur {

        font-size: 14px;
 
      }






    }
  }
}
