.container {
  display: flex;
  width: 1240px;
  padding-top: 20px;
  flex-direction: column;
  align-content: space-evenly;
  margin: auto;

  .carrousel-img {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 1240px;
    height: 415px;
    border: solid 1px black;
  }
  .logements-title {
    display: flex;
    justify-content: flex-start;
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
  }
  .logements-place {
    display: flex;
    justify-content: flex-start;
    color: #000;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 18px;
    margin-top: -29px;
  }

  .information {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -100px;

    .hote-info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: right;
      padding-top: 10px;
      color: #ff6060;
      text-align: right;
      font-family: Montserrat;
      font-size: 20px;
    }
    .host-picture {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-left: 10px;
      object-fit: cover;
    }
    .hote-notes {
      display: flex;
      padding-top: 50px;
    }
  }

  .tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    height: 25px;
    gap: 20px;
    margin-top: 35px;

    .tags {
      background-color: #ff6060;
      border-radius: 20px;
      display: flex;
      padding: 10px;
      align-self: center;
      font-family: Montserrat;
      font-size: 14px;
      color: white;
    }
  }

  .rating-stars{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -40px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .fa-star {
      font-size: 24px;
      margin-right: 5px;
    }
    
    .orange {
      color: #FF6060;
    }
    .gris {
      color: #E3E3E3;
    }

  }
}
